body {
    text-align: center;
    background-color: #011F3F;
}

#navbarNav {
    text-align: right;
}

#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
    color: #FEF2BF;
}

.btn {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.green-wrap {
    text-align: right;
}

.red-wrap {
    text-align: left;
}

.yellow-wrap {
    text-align: right;
}

.blue-wrap {
    text-align: left;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.description {
    color: white;
    font-size: 2rem;
}


/* this is triggered for browsers that have a width less than 767px */

@media (max-width: 767px) {
    .green-wrap {
        text-align: center;
    }
    .red-wrap {
        text-align: center;
    }
    .yellow-wrap {
        text-align: center;
    }
    .blue-wrap {
        text-align: center;
    }
}